<div class="app-container">

  <header class="app-header">
    <div class="header-content">
      <div class="header-title">
        <h1>NatixTask</h1>
      </div>
      <p class="header-subtitle">Transformer les tâches en succès !</p>
    </div>
  </header>

  <main class="main-content">
    <div class="content-card">

      <div class="page-header">
        <h2>Mes Tâches</h2>
        <button class="btn-primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
          Nouvelle tâche
        </button>
      </div>


      <div class="filters">
        <button class="filter-btn" [class.active]="filterStatus() === 'all'" (click)="filterStatus.set('all')">
          Toutes <span class="badge">{{ totalTasks() }}</span>
        </button>
        <button class="filter-btn" [class.active]="filterStatus() === 'active'" (click)="filterStatus.set('active')">
          En cours <span class="badge">{{ activeTasks() }}</span>
        </button>
        <button class="filter-btn" [class.active]="filterStatus() === 'completed'"
          (click)="filterStatus.set('completed')">
          Terminées <span class="badge">{{ completedTasks() }}</span>
        </button>
      </div>

      <!-- Liste des tâches -->
      <div class="tasks-list">
        @if (filteredTasks().length === 0) {
        <div class="empty-state">
          <p>Aucune tâche à afficher</p>
        </div>
        } @else {
        @for (task of filteredTasks(); track task.id) {
        <div class="task-item" (click)="viewTaskDetail(task.id)">
          <div class="task-checkbox" (click)="$event.stopPropagation()">
            <mat-checkbox [checked]="task.completed" (change)="toggleTaskStatus(task.id)">
            </mat-checkbox>
          </div>
          <div class="task-content">
            <h3 [class.completed]="task.completed">{{ task.label }}</h3>
            <p>{{ task.description }}</p>
          </div>
          <div class="task-arrow">
            <mat-icon>arrow_forward</mat-icon>
          </div>
        </div>
        }
        }
      </div>
    </div>
  </main>
</div>